repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.19.7
    hooks:
      - id: ruff
        args: ["--fix"]
  - repo: https://github.com/psf/black
    rev: 24.1.0
    hooks:
      - id: black
        language_version: python3.11
